/* Prepare */

body
{
    -webkit-user-select : none;
    /*background : url("../images/background.jpg") repeat-x;*/
    margin : 0;
    padding : 0;
    font-family: "微软雅黑", "黑体", "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif, "宋体";
    color : #333;
    text-align : center;
    cursor : default;
    background : #eee;
    font-size : 12px;
}
a
{
    outline : 0px;
}
.container
{
    width : 920px;
    margin : 5px auto;
    position : relative;
    text-align : left;
    background : #fff;
    border : solid 1px #ddd;
    padding : 20px;
    border-radius : 10px;
}
.header
{
    font-size : 16px;
    color : #834;
    font-weight : bold;
    margin-bottom : 5px;
}
.footer
{
    margin-top : 5px;
    text-align : center;
    color : #666;
}
#none
{
    border : solid 1px #fff;
    outline : none;
    width : 0;
}

.actions
{
    height : 30px;
    line-height : 30px;
}
.setting
{
    float : left;
    margin-left : 5px;
}
.checkbox
{
    margin-top : 2px;
}
#graphics_quality
{
    width : 200px;
    display : block;
    float : left;
    margin : 8px 12px 0 8px;
}

.hall .roomlist
{
    background : #f7f7f7;
    padding : 5px;
    margin-top : 5px;
}
.hall .roomlist .roomlist_item
{
    color : #444;
    border : solid 1px #f7f7f7;
    padding : 2px 5px;
}
.hall .roomlist .hover
{
    background : #eee;
    border : 1px solid #ddd;
}
.hall .roomlist .selected
{
    background : #e7e7e7;
    border : 1px solid #ddd;
}
.hall .roomlist .roomlist_item span
{
    color : #933;
    padding : 0 3px;
}
.room
{
    display : none;
}
.room #dialog-aicode
{
    display : none;
}
#dialog-aicode .tip
{
    color : #888888;
}
#dialog-aicode .tip a
{
    margin-left : 2px;
    color : #666666;
}
#dialog-aicode .tip a:hover,
#dialog-aicode .tip a:active
{
    color : #444444;
}
#dialog-aicode #input-aicode
{
    width : 500px;
    min-height : 200px;
}
.room .playerlist
{
    margin-top : 5px;
}
.room .playerlist .playerlist_item
{
    color : #444;
    border : solid 1px #f7f7f7;
    padding : 10px 10px;
    width : 260px;
    height : 100px;
    background : #f7f7f7;
    line-height : 16px;
    font-size : 12px;
    float : left;
    margin : 5px;
}
.room .playerlist .playerlist_item img.playerlist_car_type
{
    width : 100px;
    height : 100px;
    float : left;
}
.room .playerlist .playerlist_item .playerlist_info
{
    float : left;
    margin-left : 10px;
}
.room .playerlist .playerlist_item .playerlist_name
{
    font-size : 14px;
    line-height : 20px;
}
.room .playerlist .playerlist_item .playerlist_status
{
    color : #933;
}
.room .playerlist .playerlist_item .playerlist_ip
{
    color : #aaa;
}
.team_selector
{
    height : 20px;
    padding : 2px;
    width : 60px;
    display : inline-block;
    margin : 0 0 -10px 0;
    position : relative;
}
.team_selector_single_line
{
    display : block;
    margin : 0 0 -2px 0;
}
.team_selector .display_panel
{
    height : 16px;
}
.team_selector .selector_panel
{
    position : absolute;
    left : 0;
    top : 0;
    width : 124px;
    height : 62px;
    display : none;
    border : solid 1px #999;
    background : #f8f8f8;
    padding : 2px;
}
.team_selector .selector_panel .team_color
{
    float : left;
    margin : 2px;
    width : 27px;
    height : 27px;
}
.game
{
    display : none;
}
.gamecontainer
{
    width : 920px;
    height : 600px;
}
.gamecontainer #player_status
{
    position : absolute;
    right : 19px;
    top : 76px;
    width : 920px;
    height : 600px;
	border : solid 1px #666;
    overflow : hidden;
}
.gamecontainer #player_status .subtitle
{
    font-size : 24px;
    height : 30px;
    line-height : 30px;
    width : auto;
    color : #fff;
    position : absolute;
    text-shadow : 0px 0px 1px #000;
    z-index : 200;
    white-space : nowrap;
}
.gamecontainer #player_status .tip
{
    position : absolute;
	z-index : 100;
    width : 620px;
    height : 200px;
	left : 150px;
	top : 100px;
	background : #f8f8f8;
	font-size : 50px;
	color : #333;
	text-align : center;
    vertical-align : middle;
    line-height : 200px;
	border : solid 10px #666;
	display : none;
}
.gamecontainer #player_status .tip_loading {
    width : 900px;
    height : 600px;
    line-height : 600px;
    left : 0px;
    top : 0px;
}
.gamecontainer #player_status .items
{
    position : absolute;
	right : 120px;
	top : 10px;
	width : 190px;
	height : 40px;
}
.gamecontainer #player_status .items .item
{
	width : 40px;
	height : 40px;
	border : solid 1px #888;
	background : #fcfcfc;
	margin-right : 7px;
	float : left;
	border-radius : 4px;
    overflow : hidden;
}
.gamecontainer #player_status .items .item img
{
}
.gamecontainer #player_status .items .last
{
	margin-right : 0px;
}
.gamecontainer #player_status .hp
{
	position : absolute;
	right : 20px;
	top : 10px;
	width : 80px;
	height : 60px;
}
.gamecontainer #player_status .hp .h
{
	border : solid 1px #666;
	width : 78px;
	height : 18px;
	margin-bottom : 1px;
	border-radius : 4px;
}
.gamecontainer #player_status .cd
{
	position : absolute;
	right : 120px;
	top : 60px;
	width : 250px;
	height : 10px;
	border : solid 1px #666;
	background : #eee;
	display : none;
}
.gamecontainer #player_status .time
{
	position : absolute;
	right : 425px;
	top : 10px;
	width : 70px;
	height : 24px;
	text-align : center;
	font-size : 24px;
    font-weight : bold;
	line-height : 24px;
}
.gamecontainer #player_status .map
{
	position : absolute;
	left : 10px;
	top : 10px;
	width : 200px;
	height : 200px;
	border : solid 1px #666;
	background : #fcfcfc;
}

.player_info
{
	
}

.map_box
{
    background : #ffd;
    border : solid 1px #ccc;
    position : absolute;
    width : 6px;
    height : 6px;
    z-index : 20;
    border-radius : 4px;
}

.map_car
{
    position : absolute;
    z-index : 50;
    width : 12px;
    height : 12px;
    border-radius : 9px;
}

.map_car.self
{
    width : 10px;
    height : 10px;
    border-radius : 10px;
    border : solid 2px #666;
}

#gamewindow_container
{
    width : 920px;
    height : 600px;
	margin : 0;
	padding : 0;
}

/* Final */

.clear
{
    clear : both;
    float : none;
    height : 1px;
    overflow : hidden;
}